h1{
    color: blue;
}

.bodyD{
    background-image: url(../assets/WelcometoDND.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 1440px;
    width: 1024;
}

.imageSize{
    padding-top: 8rem;
    height: 618px;
    width: 420px;
}

.bg-grey{
    background-color: hsla(60, 1%, 21%, 0.8);
    height: 800px;
    width: 1300px;
}

.tagPad{
    padding-top: 4rem;
}






